{% extends 'base.html' %}

{% block title %}
    E-Health Test Medical Web App
{% endblock %}

{% block style %}
{% load static %}
  <style>
    #hero{
        background: url("{% static 'assets/img/theme/business-care-clinic-1282308.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
      }
    #overlay{
      background: rgba(0, 0, 0, 0.7);
      height: 100%;
      width: 100%;
      position: absolute;
    }

    #intro{
      z-index: 10;
    }
  </style>
{% endblock style %}

{% block body %}
  <div class="body h-100">
      <header class="header bg-gradient-primary">
        {% include "includes/navbar.html" %}
      </header>
  </div>
{% endblock %}
